<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Balance App</title>
  <link rel="stylesheet" href="/static/css/flat-remix.css">
  <link rel="stylesheet" href="/static/css/styles-night.css" id="tema">
  <script type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="/static/js/balance.js"></script>
</head>

<body>

  {% include 'components/header.html' %}

  <select id="selector-tema">
    <option value="dark">Tema oscuro</option>
    <option value="light">Tema claro</option>
  </select>
  
  <main>
    <section class="seccion-movimientos">
      <div class = "paper">
              
      <table>
        <thead>
          <tr>
            <th class="titulo-tabla">Fecha</th>
            <th class="titulo-tabla">Hora</th>
            <th class="titulo-tabla">Moneda_from</th>
            <th class="titulo-tabla numero">Cantidad</th>
            <th class="titulo-tabla acciones">Moneda_to</th>
            <th class="titulo-tabla acciones">Cantidad_to</th>
          </tr>
        </thead>
        
        <tbody id="cuerpo-tabla">
          <!-- Donde vamos a cargar los movimientos leídos desde la API -->
        </tbody>
      </table>
      <p id="error-movimientos"></p> 
      <!--Empieza la interfaz de usuario-->
      <label for="moneda_from" class="form">Moneda_from:</label>
      <select id="moneda_from" name="monedas" class="form">
        <!-- Cargamos las monedas disponibles desde js -->
      </select>

      <label for="cantidad_from" class="form">Cantidad:</label>
      <input type="text" id="cantidad_from" name="cantidad_from" class="form">

      <label for="moneda_to" class="form" id="form">Moneda_to:</label>
      <select id="moneda_to" name="monedas" class="form">
        <!-- Cargamos las monedas disponibles desde js -->
      </select>

      <label for="conversion" class="form">Conversion:</label>
      <input type="number" id="conversion" name="conversion" class="form">
      <button id="boton-convertir">Convertir</button>
      <button id="boton-comprar">Comprar</button>
      </div>
    </section>

    <section class="seccion-status">
      <div class="paper" id="estado_cuenta">
        <table>
          <thead>
            <tr>
              <th class="titulo-tabla">Moneda</th>
              <th class="titulo-tabla">Cantidad</th>
            </tr>
          </thead>

          <tbody id="cuerpo-tabla-estado">
            <!-- Donde vamos a cargar los movimientos leídos desde la API -->
          </tbody>
        </table>
      </div>
      <p id="mensajes-error"></p>
    </section>
  </main>
  

  {% include 'components/footer.html' %}

</body>

</html>
