header {
  background-color: #101010;
  color: white;
  height: 50px;
  font-size: large;
  line-height: 50px;
  padding-left: 25px;
}

body{
  background-color: #1d1d1d;
}

nav {
  background-color: #19a187;
  color: white;
  height: 25px;
  line-height: 25px;
  padding-left: 25px;
}

nav.main-menu a {
  color: white;
}

main {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

table.paper {
  width: 100%;
}

.titulo-tabla {
  border-bottom: #ffc400 1px solid;
  text-align: left;
  width: 8%;
}

#cantidad_tabla{
  text-align: right;
  padding-right: 5px;
}

.pie-de-pagina {
  margin-top: 40px;
  padding: 20px;
  color:#FFF;
  border-top: solid 1px #ffc400;
}

.paper, select{
  background-color: #282828;
  color: white;
}

label, input, textarea{
  margin-left: 20px;
}

label.form1{
margin-left: 300px; 
}
button.form1{
  margin-left: 300px;
  margin-right: 100px;
}

button{
  display:inline-block;
  background-color: #1d1d1d;
  border-color: #666666;
}

input:not([type=submit]):not([type=reset]):not([type=radio]):not([type=checkbox]),
textarea, select {
background:#101010;
}

select#selector-tema{
  float: right;
  margin-right: 20px;
}

#mensajes-error{
  color: #e00000;
  font-size: large;
  padding-left: 40px;
}

.seccion-status{
  width:25%;
  margin-left: auto;
  margin-right: auto;
}

.interfaz{
  display: inline-block; 
}
